.kanbanBoardWrapper {
  min-height: calc(100vh - 200px);
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 40px 0;
}

.boardsWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.board {
  width: 33.333%;
  height: fit-content;
  margin-left: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
}

.backlogTitle {
  position: relative;
  padding-bottom: 15px;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(219, 111, 111);
  }
}

.inProgressTitle {
  position: relative;
  padding-bottom: 15px;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(207, 219, 29);
  }
}

.doneTitle {
  position: relative;
  padding-bottom: 15px;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 2px;
    width: 100%;
    background-color: rgb(114, 212, 90);
  }
}

.boardGroup {
  margin-top: 10px;
  position: relative;
  padding-bottom: 15px;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: rgb(219, 219, 219);
  }
}

.boardGroupTitleWrapper {
  display: flex;
  justify-content: space-between;
}

.boardGroupTitle {
  font-size: 18px;
  font-weight: 500;
  color: grey;
  border: none;
  outline: none;
}

.task {
  margin-top: 10px;
  position: relative;
  background-color: #fff;
  width: 100%;
  border: 1px solid #2979ff;
  padding: 15px;
  cursor: pointer;
  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    content: '';
    height: 100%;
    width: 5px;
    background-color: #2979ff;
  }

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
  }
}

.taskInputWrapper {
  display: flex;
  align-items: center;
}

.deleteIcon {
  &:hover {
    color: red;
  }
}

@import './KanbanBoard.media.module.scss';
