.homeWrapper {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
}

.title {
  text-align: center;
}

.menuList {
  margin: 100px 0 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.menuItem {
  margin-top: 10px;
  a {
    text-decoration: none;
  }
}
